.button {
	margin-top: 38px;
	background: #3b4ffc;
	border-radius: 12px;
	max-width: 401px;
	width: 100%;
	border: none;
	min-height: 60px;
	color: #fff;
	cursor: pointer;
	&:is(:hover) {
		background-color: darken($color: #3b4ffc, $amount: 5);
	}
}
